<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="LIBRARY_DATABASEEntities" connectionString="metadata=res://*/DTO.ListBook.csdl|res://*/DTO.ListBook.ssdl|res://*/DTO.ListBook.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=LIBRARY_DATABASE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="LIBRARY_DATABASEEntities1" connectionString="metadata=res://*/DTO.ListBookTest.csdl|res://*/DTO.ListBookTest.ssdl|res://*/DTO.ListBookTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=LIBRARY_DATABASE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>